# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
dubrova_py/.idea/workspace.xml
dubrova_py/.idea/tasks.xml
dubrova_py/.idea/dictionaries
dubrova_py/.idea/vcs.xml
dubrova_py/.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
dubrova_py/.idea/dataSources.ids
dubrova_py/.idea/dataSources.xml
dubrova_py/.idea/sqlDataSources.xml
dubrova_py/.idea/dynamic.xml
dubrova_py/.idea/uiDesigner.xml

# Gradle:
dubrova_py/.idea/gradle.xml
dubrova_py/.idea/libraries

# Mongo Explorer plugin:
dubrova_py/.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
dubrova_py/out/

# mpeltonen/sbt-idea plugin
dubrova_py/.idea_modules/

# JIRA plugin
dubrova_py/atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
dubrova_py/com_crashlytics_export_strings.xml
dubrova_py/crashlytics.properties
dubrova_py/crashlytics-build.properties
dubrova_py/fabric.properties